html {
  font-size: 100%;
}
body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 62.5%; // so 1rem = 10px
}
.wrapper {
  font-size: 16px;
}
h1,
h2,
h3 {
  display: inline-block;
  font-weight: bold;
}
h1 {
  font-size: 2rem;
  letter-spacing: 1px;
  color: white;
  text-shadow: 0px 1px 0px #20272f, 1px 1px 0px #20272f;
  //font-family: 'Asap', sans-serif;
}
h2 {
  padding-top: $g * .5;
  font-size: 1.5rem;
  font-weight: 900;
  color: #3c6abc;
  //font-family: 'Asap', sans-serif;
}
/*
h1 {
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 2px 1px #20272f, 1px 2px 1px #20272f, 1px 2px 1px #20272f, 1px 2px 1px #20272f,
    1px 2px 1px #20272f, 1px 2px 1px #20272f;
}
h2 {
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: white;
  text-shadow: 0px 1px 0px #20272f, 1px 1px 0px #20272f;
  //font-family: 'Asap', sans-serif;
}
h2-alt {
  font-family: 'Asap', sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: 1px;
  color: $brand-1;
  text-shadow: -1px -1px 0px #20272f, -1px 0px 0px #20272f, -1px 1px 0px #20272f,
    0px -1px 0px #20272f, 0px 1px 0px #20272f, 1px -1px 0px #20272f, 1px 0px 0px #20272f,
    1px 1px 0px #20272f, 0px 0px 8px white, 0px 0px 8px white;
}
*/
h3 {
  font-size: inherit;
}
.text-center {
  text-align: center;
}

/**
 * fa
 * Font-awesome icon - inject as a ::before or ::after pseudo element
 *
 * @param  string   $char      Font-awesome character (e.g. $fa-var-envelope)
 * @param  string   $position  [before/after] (default: before)
 * @param  content  {}         Styles that apply to the icon
 *
 * List of font-awesome variables (although they're guessable):
 * https://github.com/FortAwesome/Font-Awesome/blob/master/scss/_variables.scss
 *
	// Simple example - an envelope icon before start of element:
	@include fa($fa-var-envelope);

	// Styled icon after element:
	@include fa($fa-var-envelope, after) {
		display: inline-block;
		margin-left: 5px;
		color: #55f;
	}
 */
@mixin fa($char: null, $position: before) {
  // $char content can be empty, say if inheriting from a parent
  @if ($char != null) {
    &:#{$position} {
      content: "#{$char} ";
    }
  }
  &:#{$position} {
    display: inline-block;
    font-family: fontawesome;
    font-style: normal;
    font-weight: normal;
    // underline must be set, then unset - ie8 fix
    text-decoration: underline;
  }
  &:#{$position} {
    text-decoration: none;
    @content;
  }
}
