.photo {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  &--video {
    background: adjust-color($brand-2, $lightness: -5);
  }
  &--canvas {
    display: none;
  }
  &--img {
    height: 0;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
  .photo-taken & {
    &--video,
    &--canvas {
      display: none;
    }
    &--img {
      height: auto;
      opacity: 1;
    }
  }
}
