.dinners {
  float: left;
  padding: $g * .5 0;
  width: 100%;
}
.dinner {
  > div {
    display: inline-block;
  }
  img {
    display: block;
  }
  &__image {
    width: 25%;
  }
  &__content {
    width: 75%;
    padding: 5px 0 5px $g;
    vertical-align: top;
  }
}
