html {
  font-size: 100%; }

body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 62.5%; }

.wrapper {
  font-size: 16px; }

h1,
h2,
h3 {
  font-weight: bold; }

h1 {
  font-size: 2rem;
  letter-spacing: 1px;
  color: white;
  text-shadow: 0px 1px 0px #20272f,1px 1px 0px #20272f; }

h2 {
  font-size: 1.5rem;
  font-weight: 900;
  color: #3c6abc; }

/*
h1 {
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 2px 1px #20272f, 1px 2px 1px #20272f, 1px 2px 1px #20272f, 1px 2px 1px #20272f,
    1px 2px 1px #20272f, 1px 2px 1px #20272f;
}
h2 {
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: white;
  text-shadow: 0px 1px 0px #20272f, 1px 1px 0px #20272f;
  //font-family: 'Asap', sans-serif;
}
h2-alt {
  font-family: 'Asap', sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: 1px;
  color: $brand-1;
  text-shadow: -1px -1px 0px #20272f, -1px 0px 0px #20272f, -1px 1px 0px #20272f,
    0px -1px 0px #20272f, 0px 1px 0px #20272f, 1px -1px 0px #20272f, 1px 0px 0px #20272f,
    1px 1px 0px #20272f, 0px 0px 8px white, 0px 0px 8px white;
}
*/
h3 {
  font-size: inherit; }

.text-center {
  text-align: center; }

.btn {
  color: black;
  background: white;
  border: 1px solid black;
  display: inline-block;
  padding: 10px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background: none;
  border: 1px solid black;
  user-select: none; }
  .btn:hover, .btn:focus, .btn:active {
    color: white;
    background: black;
    border: 1px solid white; }

.user__logout {
  display: flex; }
  .user__logout > div:nth-child(1) {
    flex: 0 0 75%; }
  .user__logout > div:nth-child(2) {
    flex: 0 0 25%;
    text-align: right; }

.upload {
  text-align: center; }

.photo {
  display: block;
  width: 100%;
  margin-bottom: 15px; }
  .photo--canvas {
    display: none; }
  .photo--img {
    height: 0;
    opacity: 0;
    transition: opacity 1s ease-out; }
  .photo-taken .photo--video, .photo-taken .photo--canvas {
    display: none; }
  .photo-taken .photo--img {
    height: auto;
    opacity: 1; }

body {
  padding: 0;
  color: #3c6abc;
  margin: 0;
  background: #fcc6a6; }

.wrapper {
  margin: 0 auto;
  max-width: 720px;
  padding: 10px; }
